.customize {
  background-color: #2A313C;
}
.customize_content {
  position: relative;
  height: 700px;
  padding: 0 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.customize_poster {
  position: absolute;
  left: 60px;
  top: 0;
  height: 100%;
}
.customize_block {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.customize_slider {
  position: relative;
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.customize_slider_item {
  border-radius: 20px;
}
.customize_slider_item.selected {
  outline: 7px solid #555555;
}
.customize_slider_button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #57B8FF;
  outline: 1px solid #57B8FF;
  top: 50%;
  margin-top: -10px;
  transition: all 0.3s;
  cursor: pointer;
}
.customize_slider_button:hover {
  background-color: black;
}
.customize_slider_left {
  left: -10px;
}
.customize_slider_right {
  right: -10px;
}
@media screen and (max-width: 1250px) {
  .customize_content {
    padding-right: 120px;
  }
  .customize_poster {
    opacity: 0.15;
  }
  .customize_block {
    align-items: flex-end;
  }
  .customize_block .block_title {
    font-size: 48px;
    line-height: 60px;
  }
  .customize_block .block_description {
    text-align: right;
  }
}
@media screen and (max-width: 975px) {
  .customize_content {
    padding: 0 60px;
    justify-content: center;
  }
  .customize_block {
    align-items: center;
  }
  .customize_block .block_title {
    text-align: center;
  }
  .customize_block .block_description {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .customize_content {
    height: auto;
    padding: 120px 20px;
  }
  .customize_poster {
    left: auto;
    right: 20px;
  }
  .customize_slider_item:nth-child(3) {
    display: none;
  }
}
